body{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}
nav{
    width: 50%;
}
nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    text-transform: uppercase;
}
nav a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover{
    text-decoration: underline;
    color: #c78c19;
}
.products{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.products li{
    padding: 10px 10px;
    border: solid 2px black;
    border-radius: 7px;
    width: 20%;
}
.products li:hover{
    border-color: #c78c19;
    font-size: 19px;
    padding: 15px;
}
.products li:active{
    border-color: green;
}
li :nth-child(4) {
    font-size: 20px;
    font-weight: bold;
}
footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 13px;
    
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label{
    display: block;
    font-size: 20px;
    margin: 0px 0px 10px;
}
form input{
    display: block;
    margin: 0px 0px 20px;
    padding: 10px 25px;
    width: 50%;
}